<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.telegramkr.theme.basic" >

    <uses-feature android:required="true" android:name="org.telegramkr.theme" />
    <uses-permission android:name="org.telegramkr.theme.users" />
    <permission android:name="org.telegramkr.theme.users" android:protectionLevel="normal" android:label="Telegram Theme Permission" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/AppName"
        android:theme="@style/AppTheme" >

        <meta-data android:name="org.telegramkr.theme.name" android:value="@string/theme_title"/>
        <meta-data android:name="org.telegramkr.theme.author" android:value="@string/theme_author" />
    </application>
</manifest>
